@import './colors.scss';//принято использовать одинарные кавычки
@import './mixin.scss';

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 100%;
    @include flexAlign();//можно скобки удалить
}

.container {
    width: 1172px; 
}

.header {
    @include flexAlign(space-between);
    height: 109px;
    

    &__menu {// & заменяет .header__menu
        @include flexAlign;

        .links {
            list-style-type: none;//убрать точки

            &__item {// & заменяет .links__item
                display: inline-block;//сделать блочный список строчным
                margin-left: 30px;

                a {
                    text-decoration: none;//отключить нижнее подчеркивание
                    @include fontStyle;
                }
            }
        }
    }

    &__contacts {
        @include flexAlign;

        &-item {
            margin-right: 40px;
            color: $text-color-main;

            &:last-child {
                margin-right: 0;
            }

            &-text {
                text-decoration: none;
                @include fontStyle(16px);
            }
        }
    }
}

.banner {
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    clip-path: polygon(0 0, 70% 0, 75% 5%, 80% 0, 100% 0, 100% 100%, 30% 100%, 25% 95%, 20% 100%, 0 100%);

    &__content {   
        height: 730px; 
        padding-top: 180px;
        box-sizing: border-box;

        .info {
            color: white;
            user-select:none;

            &__title {
                margin: 0;
                @include fontStyle(36px, 300, inherit);//наследовать от родителя
            }

            &__text {
                margin: 45px 0 55px 0;
                @include fontStyle(14px, 300, inherit);
                line-height: 22px;
                letter-spacing: 2px;
            }
        }
    }
}

.title {
    @include fontStyle(36px, 900, white);
    margin: 0;//убрать брузерные margin
    margin-bottom: 18px;//установить свои margin
    letter-spacing: 2px;//установить пробелы между буквами в словах

    &_main {
        color: $text-color-main;
    }

    &_active {
        color: $active-color;
    }
}

.divider {
    width: 105px;
    border: none;
    border-top: 2px solid $text-color-main;
    margin: 30px 0 44px 0;
}

.button {
    width: 240px;
    height: 60px;
    border-radius: 30px;
    outline: none;
    background-color: transparent;
    border: 3px solid rgba(white, .7);
    box-sizing: border-box;
    text-transform: uppercase;
    @include fontStyle(21px, 900, white);
    cursor: pointer;
    transition: .3s;
    animation-name: buttonAnimation;
    animation-duration: 2s;
    @include flexAlign;

    &:hover {
        background-color: rgba($text-color-main, .6);
        box-shadow: 0 0 10px 0 rgba (black, .6);
    }

    &_learn {
        border-color: $text-color-main;
        color: $text-color-main;
    }
}

.features {
    flex-direction: column;
    padding: 105px 0 150px 0;


    &__text {
        width: 770px;
        text-align: center;
        @include fontStyle(16px, 300, $text-color-muted);
    }

    .navigation {
        @include flexAlign;
        margin-top: 67px;

        &__radio {
            display: none;
        }

        &__menu {
            min-width: 350px;
            border-right: 1px solid $text-color-muted;

            &-item {
                width: 100%;
                height: 120px;
                @include flexAlign(space-between);
                padding: 0 60px 0 40px;
                box-sizing: border-box;
                position: relative;

                .icon {
                    fill: $text-color-muted;
                }

                .text {
                    @include fontStyle(20px, 300, $text-color-muted);
                }
            }
        }

        &__content {
            width: 100%;
            padding-left: 150px;
            box-sizing: border-box;

            .feature {
                width: 100%;
                height: 600px;
                @include flexAlign($pos: column);
                display: none;

                &__image {
                    filter: grayscale(5%) hue-rotate(100deg);
                    margin-bottom: 80px;
                }

                &__content {
                    width: 100%;

                    &-title {
                        margin: 0;
                        @include fontStyle(24px, 900);
                        margin-bottom: 38px;
                    }
                    
                    &-text {
                        margin: 0;
                        @include fontStyle(16px, 300, $text-color-muted);
                        width: 670px;
                        line-height: 24px;
                    }
                }
            }
        }
    }
}



.smart {
    background-color: $even-background;
    padding: 80px 0;
    box-sizing: border-box;

    .container {
        @include flexAlign;

        @media screen and (max-width: 1192px) {
            width: 100%;
            padding: 0 20px;
        }
        
        @media screen and (max-width: 720px){
            @include flexAlign($pos: column-reverse);
        }
    }

    &__content {
        width: 50%;

        @media screen and (max-width: 720px){
            width: 100%;
            margin-top: 25px;
            @include flexAlign($pos: column); 
        }

        &-title {
            @include fontStyle(36px, 300);
        }
        
        &-text {
            @include fontStyle(16px, 300, $text-color-muted);
            padding-left: 100px;
            box-sizing: border-box;
            margin-bottom: 60px;

            @media screen and (max-width: 720px){
                width: 100%;
                margin-top: 25px; 
            }
        }
    }
    &__image {
        width: 50%;
        @include flexAlign;
    }
}



// -----------

#bag:checked ~ .navigation__menu > .bag {

    &::after {
        content: '';
        position: absolute;
        right: -6px;
        top: calc(50% - 40px);//расчет середины высоты подчеркивания
        width: 11px;
        height: 80px;
        background-color: $active-color;
    }

    .text {
        @include fontStyle(20px, 500, $text-color-main);
    }

    .icon {
        fill: $active-color;//fill - перекрасить иконку svg
    }
}

#bag:checked ~.navigation__content > .bag {
    display: flex;
}

#leaf:checked ~ .navigation__menu > .leaf {

    &::after {
        content: '';
        position: absolute;
        right: -6px;
        top: calc(50% - 40px);//расчет середины высоты подчеркивания
        width: 11px;
        height: 80px;
        background-color: $active-color;
    }

    .text {
        @include fontStyle(20px, 500, $text-color-main);
    }

    .icon {
        fill: $active-color;//fill - перекрасить иконку svg
    }
}


#heart:checked ~ .navigation__menu > .heart {

    &::after {
        content: '';
        position: absolute;
        right: -6px;
        top: calc(50% - 40px);//расчет середины высоты подчеркивания
        width: 11px;
        height: 80px;
        background-color: $active-color;
    }

    .text {
        @include fontStyle(20px, 500, $text-color-main);
    }

    .icon {
        fill: $active-color;//fill - перекрасить иконку svg
    }
}

#heart:checked ~.navigation__content > .heart {
    display: flex;
}


#smart:checked ~ .navigation__menu > .smart {

    &::after {
        content: '';
        position: absolute;
        right: -6px;
        top: calc(50% - 40px);//расчет середины высоты подчеркивания
        width: 11px;
        height: 80px;
        background-color: $active-color;
    }

    .text {
        @include fontStyle(20px, 500, $text-color-main);
    }

    .icon {
        fill: $active-color;//fill - перекрасить иконку svg
    }
}


#umbr:checked ~ .navigation__menu > .umbr {

    &::after {
        content: '';
        position: absolute;
        right: -6px;
        top: calc(50% - 40px);//расчет середины высоты подчеркивания
        width: 11px;
        height: 80px;
        background-color: $active-color;
    }

    .text {
        @include fontStyle(20px, 500, $text-color-main);
    }

    .icon {
        fill: $active-color;//fill - перекрасить иконку svg
    }
}
// -----------




.portfolio {
    @include flexAlign($pos: column);
    padding: 100px 0;

    &__avatar {
        margin: 22px 0 50px 0;
    }

    &__quote {
        @include fontStyle(24px, 300, $text-color-muted);
        font-style: italic;
        margin-bottom: 26px;
    }

    &__name {
        @include fontStyle(24px, 300, $active-color);
        margin-bottom: 40px;
    }

    .pagination {
        @include flexAlign(space-between);// 1й вариант работы с точками
        width: 50px;

        &__radio {
            display: none;

            &:checked + .pagination__dot {
                background-color: $active-color;
            }
        }

        &__dot {
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background-color: $text-color-muted;
            cursor: pointer;
    
            // 2й вариант работы с точками
            /* margin-right: 9px;

            &:last-child {
                margin-right: 0;
            }*/

            &_active {
                background-color: $active-color;
            }
        }
    }
}



.newsletter {
    background-color: $text-color-muted;

    .container {
        padding: 90px 0 120px 0;
        @include flexAlign($pos: column);         
    }

    &__form {
        margin-top: 40px;

        &-text {
            width: 685px;
            height: 60px;
            border: 2px solid $text-color-main;
            box-sizing: border-box;
            border-radius: 30px; 
            outline: none;
            padding: 0 100px 0 30px; 
            @include fontStyle($fontWeight: 300); 
            margin-left: 90px; 

            &::-webkit-input-placeholder {// работает только в Chrome
                color: red; 
            }
        }

        &-btn {
            background-color: $active-color;
            @include fontStyle(20px, $color: white);
            text-transform: uppercase;
            outline: none;
            border: none;
            height: 62px;
            width: 170px;
            border-radius: 31px;
            transform: translate(-90px, 2px); 
        }
    }
}


@keyframes buttonAnimation {
    0% {
        transform: translate(-100px, -100px);
        background-color: red;
    }

    20% {
        transform: rotate(250deg) translate(-80px, -80px);
    }

    40% {
        transform: rotate(-100deg) translate(-50px, -40px);
        background-color: green;
    }

    60% {
        transform: rotate(200deg) translate (60px, 60px);
    }

    100% {
        transform: rotate(0) translate (0, 0);
    }
}



//Домашнее задание
.homework {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: orange;
    border: 1px solid black;
    border-spacing: 0;
    table-layout: fixed;
    text-align: center;
    
    &__item-0 {
        width: 249px;
        height: 249px;
    }

    &__item-25 {
        border-collapse: collapse;
        background: red;
        border-radius: 0 100% 0 0;
        font-size: 90px;
        padding-top: 60px;
    }
}

//Решение 1
.container1 {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap; 
    position: relative;  
}

.section {
    width: 200px;
    height: 200px;
    background-color: green;
    box-sizing: border-box;
}

.section_1 {
    border-top-left-radius: 100%;
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.section_2 {
    background-color: red;
    border-top-right-radius: 100%;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

.section_3 {
    border-bottom-left-radius: 100%;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.section_4 {
    border-bottom-right-radius: 100%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.center {
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: white;
    top: 50px;
    left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border-radius: 50%;
    border: 1px solid blue;
    box-sizing: border-box;
}

//Решение 2
.progress {
    margin: 50px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    /*background-color: yellow;*/
    border: 50px solid green;
    box-sizing: border-box;
    border-top: 50px solid red;
    transform: rotate(45deg);
    box-shadow: 0 0 0 2px black, inset 0 0 0 2px blue;
    background: linear-gradient(to right, blueviolet, orange);/*градиент*/
}

.progress::after {
    content: '25%';
    transform: rotate(-45deg);
    font-size: 40px;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;    
}